## Hack.Diversity Data Interview: Product Inclusion Analysis Challenge

#  1- Retrieve and Inspect the Dataset

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


file_name = 'inclusive_features_usage1.csv'  
df = pd.read_csv(file_name)

In [4]:
df.head()

,user_id,feature_used,session_duration,engagement_score,accessibility_settings,age_group,gender,additional_attributes
0,user_4737,Multilingual,60.77,4,4,Teenager,NaN,LGBTQ+
1,user_1492,Text-to-Speech,20.20,5,4,Professional,Non-Binary,NaN
2,user_5936,Colorblind Mode,93.78,2,2,Adult,Female,NaN
3,user_5519,Colorblind Mode,26.36,3,1,Adult,NaN,LGBTQ+
4,user_1853,High Contrast Mode,91.67,5,1,Young Adult,Male,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 10000 non-null  object
 1   feature_used            10000 non-null  object
 2   session_duration        10000 non-null  float64
 3   engagement_score        10000 non-null  int64
 4   accessibility_settings  10000 non-null  int64
 5   age_group               10000 non-null  object
 6   gender                  6003 non-null   object
 7   additional_attributes   3997 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 625.1+ KB